.movieRow {
    margin-bottom: 30px;
}
.movieRow h2 {
    margin: 0px 0px 0px 30px;
}
.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}
.movieRow--list {
    width: 99999999px;
}
.movieRow--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}
.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.3s;
}
.movieRow--item img:hover {
    transform: scale(1);
}

.movieRow--left, .movieRow--right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}
.movieRow--left {
    left: 0;
}

.movieRow--right {
    right: 0;
}


